html, body {
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

.side-bar {
  position: fixed;
  padding: 0 0;
  width: 274px;
  background: rgb(237, 237, 237);
  height: 100vh;
}

.resume-header {
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(46, 46, 46);
  color: #fff;
  padding: 12px 12px;
  margin-bottom: 10px;
}

.resume-header a {
  color: white;
}

.resume-header h1 { 
  font-size: 24px; 
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.resume-header h2 { 
  font-size: 16px;
  margin-bottom: 13px;
}

.resume-header h2 em { 
  font-weight: bold;
  font-size: 20px;
}

.resume-header ul>li>i {
  margin-right: 8px;
}

ul.unstyled {
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.education {
  padding: 12px 12px;
}

.education h1 { 
  font-size: 18px; 
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.education ul.unstyled>li {
  margin-bottom: 14px;
}

.education ul.unstyled>li>i {
  margin-right: 8px;
}

.skills {
  padding: 12px 12px;
}

.skills h1 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.skills ul.skills-list {
  margin-right: 28px;
}

.resume-body {
  margin-left: 274px;
  padding: 12px 12px;
  max-width: 1000px;
  border-left: 1px dashed rgb(28, 28, 28);
  border-right: 1px dashed rgb(28, 28, 28);
}

.resume-body h1 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0 0;
}

.resume-body h2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0 0;
}

.resume-body h3 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(33, 33, 33);
  margin: 0 0;
}

.resume-body .time-date {
  font-size: 12px;
  width: 200px;
}

.resume-body .time-date .time i,
.resume-body .time-date .date i {
  margin-right: 8px;
}

.resume-body p {
  margin-top: 0;
  margin-bottom: 30px;
}

.resume-body ul.work-experience {
  margin: 0 0;
  font-size: 16px;
  padding-left: 20px;
}

.pull-right {
  float: right;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 

    .side-bar ul>li>i {
      margin-right: 25px;
    }

    .side-bar {
      position: unset;
      width: 100%;
      height: unset;
      text-align: center;
      background-color: unset;
      border-bottom: 1px dashed rgb(28, 28, 28);
    }

    .side-bar ul>li>i {
      margin-right: 25px;
    }

    .education ul.unstyled>li>i {
      margin-right: 25px;
    }

    .skills ul.skills-list li div.pull-right {
      display: inline-block;
      margin-left: 8px;
      float: unset;
    }

    .resume-body {
      margin-left: 0;
      padding-left: 10%;
      padding-right: 10%;
      border-left: unset;
      border-right: unset;
    }

    .resume-body h2 {
      font-size: 15px;
    }

    .resume-body h3 {
      font-size: 12px;
    }
}